
<%#= stylesheet_link_tag "practice/dashboard.css" %>
<%# page_header 'Dashboard' %>
<div id="tab-general" class="dashboard">
  <div id="sum_box" class="row mbl">
    <div class="col-sm-6 col-md-3">
      <div class="panel profit db mbm">
         <a href="/practice/patients">
        <div class="panel-body">
         
            <p class="icon dashboard-icon"><i class="icon fa fa-user"></i></p>
            <h4 class="value"><span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0"><%= @patient_count%></span></h4>
            <p class="description">Visitors</p>
         
        </div>
         </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="panel income db mbm">
        <a href="/company_users/invitations">
        <div class="panel-body">
          
            <p class="icon dashboard-icon"><i class="icon fa fa-clipboard"></i></p>
            <h4 class="value"><span><%#= @intakeform_count%></span></h4>
            <p class="description">Invitations</p>
        
        </div>
          </a>
      </div>
    </div>
    
  </div>
  <div class="row mbl">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h3 class="">Todays Visit</h3>
        </div>
        <div class="col-lg-6 col-md-6  col-sm-6  col-xs-6">
          <h3>
          <%#= link_to(" Upload CSV", new_practice_patient_path, class: "btn btn-green pull-right fa fa-cloud-upload") %>
          <%#= link_to("Invite User", '', class: "btn btn-green pull-right fa fa-plus") %>
          </h3>  
        </div>
      </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-yellow">

                <div class="panel-body">
                  <table class="table table-hover patient_forms_table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Purpose</th>
                         <th>Contact Person</th>
                          <th>Check In Time</th>
                      </tr>
                    </thead>
                    <tbody>
                  <% Visitor.all.each do |visitor| %>
                        <tr>
                          <td><%= visitor.name %></td>
                          <td><%= visitor.email %></td>
                           <td><%= visitor.purpose %></td>
                              <td><%= visitor.poc %></td>
                                 <td><%= visitor.time %></td>
                        </tr>
                       
                     
                    <% end %>
                  
                </tbody>
              </table>
                   <%#= render partial: "practice/patients/list" %>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
  </div>



<div class="row">
<div class="col-lg-6">
  <div class="panel panel-yellow">
    <div class="panel-heading">Invite User</div>
    <div class="panel-body ">

     
        <input autofocus="autofocus" placeholder="Email" class="form-control user_email" type="email" name="company_user[email]" id="company_user_email">
        <a href="#" onClick="CompanyUser.searchUser()" class="btn btn-green pull-right fa fa-plus">Search</a>
      </div>
  
    </div>
  </div>

<div class="col-lg-6">
  <div class="panel panel-yellow">
    <div class="panel-heading">User Information</div>
    <div class="panel-body ">
      <div id="user_info_container"></div>
    </div>
    
      
    </div>
  </div>
</div>



<script type="text/template" id="user_info">
{{#if user}}
<div class="user">
  <b>Name </b> : {{user.name}}<br/>
   <b>Email </b> : {{{user.email}}}  <br />
    <b>Phone Number </b> :  {{{user.phone_number}}} <br />
     <input autofocus="autofocus" placeholder="Reason for visit" class="form-control reason" type="text" ><br>
     <input autofocus="autofocus" placeholder="Ponit of contact" class="form-control poc" type="text" >
    <a href="#" class="btn btn-green pull-right invite" onClick="CompanyUser.inviteUser('id', '{{user.id}}')">
  Invite</a>
  </div>
{{else}}
User not found
* An email will be sent to the user with QRcode<br/>
  <a href="#" class="invite" onClick="CompanyUser.inviteUser('email', '{{email}}')">Anyway Invite </a>
{{/if}}
</script>
