
<div class="page-form practice-form animated fadeIn">
  <%#= devise_flash_message if flash[:error].present? or flash[:notice].present? or flash[:alert].present? %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form"}) do |f| %>
    <div class="header-content"><h1>Company Signup</h1></div>
    <div class="body-content pal">
      <div class="form-group">
        <div class="input-icon right"><i class="fa fa-user"></i>
          <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="input-icon right"><i class="fa fa-user"></i>
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="input-icon right"><i class="fa fa-key"></i>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
        </div>
      </div>
       <div class="form-group">
        <div class="input-icon right"><i class="fa fa-key"></i>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class: "form-control" %>
        </div>
      </div>
      <div class="form-group pull-left">
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      </div>
      <div class="form-group pull-right">
        <button type="submit" class="btn btn-success">Sign up
          &nbsp;<i class="fa fa-chevron-circle-right"></i></button>
      </div>
      <div class="clearfix"></div>
    </div>
  <% end %>
</div>



