<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @visitor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @visitor.email %>
</p>

<p>
  <strong>Time:</strong>
  <%= @visitor.time %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @visitor.purpose %>
</p>

<p>
  <strong>Poc:</strong>
  <%= @visitor.poc %>
</p>

<%= link_to 'Edit', edit_visitor_path(@visitor) %> |
<%= link_to 'Back', visitors_path %>
